In [1]:
#1. Write a python program to sum all the items in a list

In [2]:
L=list(map(int, input("Enter the elements of the list: ").split()))
print(f"Sum of all items: {sum(L)}")

Enter the elements of the list: 2 4 5 6 7 8
Sum of all items: 32

In [3]:
#2. Write a python program to count the number of strings where the string length is 4 or more and the 1st and last character are same from a given list of strings

In [5]:
S=list(map(str, input("Enter the strings you want to add to the list: ").split()))
count=0
for i in S:
    if len(i)>3 and i[0]==i[-1]:
        count+=1
print(f"The number of strings whose length is 4 or more and have the same 1st and last character is: {count}")

Enter the strings you want to add to the list: Saloni swagata madam mam
The number of strings whose length is 4 or more and have the same 1st and last character is: 1

In [6]:
#3. Write a python program to remove duplicates from a list

In [7]:
L=input("Enter the elements of the list: ").split()
D=[]
N=[]
for i in range(len(L)):
    if L[i] not in D:
        if L[i] in L[i+1:]:
            D.append(L[i])
        N.append(L[i])
print(f"Non duplicate list: {N}")

Enter the elements of the list: 5 2 3 5 5 5 4 3 2 saloni swagata saloni
Non duplicate list: ['5', '2', '3', '4', 'saloni', 'swagata']

In [8]:
#4. Multiple of 5, between 2000 and 3200(both included). The numbers obtained should be printed in a comma separated sequence on a single line

In [9]:
for i in range(2000,3205,5):
    if i!=3200:
        print(i, end=",")
    else:
        print(i)

2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100,2105,2110,2115,2120,2125,2130,2135,2140,2145,2150,2155,2160,2165,2170,2175,2180,2185,2190,2195,2200,2205,2210,2215,2220,2225,2230,2235,2240,2245,2250,2255,2260,2265,2270,2275,2280,2285,2290,2295,2300,2305,2310,2315,2320,2325,2330,2335,2340,2345,2350,2355,2360,2365,2370,2375,2380,2385,2390,2395,2400,2405,2410,2415,2420,2425,2430,2435,2440,2445,2450,2455,2460,2465,2470,2475,2480,2485,2490,2495,2500,2505,2510,2515,2520,2525,2530,2535,2540,2545,2550,2555,2560,2565,2570,2575,2580,2585,2590,2595,2600,2605,2610,2615,2620,2625,2630,2635,2640,2645,2650,2655,2660,2665,2670,2675,2680,2685,2690,2695,2700,2705,2710,2715,2720,2725,2730,2735,2740,2745,2750,2755,2760,2765,2770,2775,2780,2785,2790,2795,2800,2805,2810,2815,2820,2825,2830,2835,2840,2845,2850,2855,2860,2865,2870,2875,2880,2885,2890,2895,2900,2905,2910,2915,2920,2925,2930,2935,2940,2945,2950,2955,2960,2965,2970,2975,2980,2985,2990,2995,3000,3005,3010,3015,3020,3025,3030,3035,3040,3045,3050,3055,3060,3065,3070,3075,3080,3085,3090,3095,3100,3105,3110,3115,3120,3125,3130,3135,3140,3145,3150,3155,3160,3165,3170,3175,3180,3185,3190,3195,3200

In [10]:
#5. Printed in reverse order with a space between 1st name and last name

In [11]:
S=input("Enter your full name: ").split()
print(f"{S[1]} {S[0]}")

Enter your full name: Saloni Swagata
Swagata Saloni

In [12]:
#6. Create the below pattern using nested loop in python
'''*
   **
   ***
   ****
   *****
   ****
   ***
   **
   *'''

'*\n   **\n   ***\n   ****\n   *****\n   ****\n   ***\n   **\n   *'

In [15]:
for i in range(9):
    if i<5:
        for j in range(i+1):
            print('*',end='')
    else:
        for k in range(9-i):
            print('*',end='')
    print()

*
**
***
****
*****
****
***
**
*

In [16]:
#7. Write a python program to reverse a word
# Sample input - AVISHKAR
# Sample Output - RAKHSIVA

In [17]:
S=input("Enter a word: ")
print(f"Reversed word: {S[::-1]}")

Enter a word: AVISHKAR
Reversed word: RAKHSIVA