# Data Structures

## List

In [ ]:
l1=[1,6,3,8,10]
l2=[9,8,7]

In [ ]:
l1+l2 #extending

In [ ]:
l1.append(l2) #it add ele as list

In [ ]:
l1

In [ ]:
l1.extend(l2)#it add unpack ele in it reverse of what append do

In [ ]:
l1

## list comprehension

In [2]:
l1=[4,6,2,8,10]

In [3]:
l1*2

[4, 6, 2, 8, 10, 4, 6, 2, 8, 10]

In [4]:
l2=[]
for i in l1:
    l2.append(i*2) #storing it in another list
print(l2)

[8, 12, 4, 16, 20]

In [5]:
for i in range(len(l1)):
    print(l1[i]*2)

8
12
4
16
20

In [6]:
ll_sq=[ele*2 for ele in l1]

In [7]:
ll_sq

[8, 12, 4, 16, 20]

In [8]:
# square of only even no
l2=[] #making another list for storing
for i in l1:
    if i%2==0:
        l2.append(i*2) #storing it in another list
print(l2)

[8, 12, 4, 16, 20]

In [9]:
#using list comprehension
ll_sq=[i**2 for i in l1 if i%2==0]
#ll_sq=[i**2 else yahan likhan hota hai for i in l1 if (i%2==0) and kuch statement ]
print(ll_sq)

[16, 36, 4, 64, 100]

In [10]:
#another example
l2=["hello","world","are","you","?"]

In [11]:
[ele.title() for ele in l2 if len(ele)>1]

['Hello', 'World', 'Are', 'You']

# Input

In [12]:
n=input()

aryan

In [13]:
print(n)

aryan

In [27]:
#typecasting and input
no1=float(input())
no2=float(input())

2
3

In [28]:
type(no2)

float

In [29]:
no1+no2

5.0

In [34]:
all_numbers=input()

1 2 3 4

In [35]:
all_numbers.split()
#we can do list comprehension

['1', '2', '3', '4']

In [36]:
[int(ele) for ele in all_numbers.split()] #int(ele)#it is return statement

[1, 2, 3, 4]

In [37]:
[int(ele) for ele in all_numbers.strip().split()] #int(ele)#it is return statement
#we can strip if we have spaces in front

[1, 2, 3, 4]

In [14]:
#cumlative sum>0

cum=0

while cum >=0:
    a=int(input())
    cum+=a
    if cum>=0:
        print(a)
    else:
        break

1
1
2
2
3
3
-88

In [15]:
#cumlative sum>0

cum=0
l=[]
while cum >=0:
    a=int(input())
    cum+=a
    if cum>0:
        l.append(a)
    else:
        break

1
2
-88

In [40]:
l

[1, 2]

# Tuple
- immutable
- indexedable

In [41]:
tup=(1,2,3,4,5,6)

In [42]:
type(tup)

tuple

In [43]:
tup[0]

1

In [44]:
tup[-1]

6

In [52]:
tup[0]=100
#'tuple' object does not support item assignment
#basically string and tuple are immutable

TypeError: 'tuple' object does not support item assignment

In [66]:
l=[1,2,3]

In [67]:
tup1=(4,5,6,l)

In [68]:
tup1

(4, 5, 6, [1, 2, 3])

In [69]:
tup1[3].append(4) #here we areappending in list not tuple

In [70]:
tup1 #list is mutable

(4, 5, 6, [1, 2, 3, 4])

In [64]:
tup=(5,3,1)

In [65]:
PI=(3.14,) #creating constant val use case of tuple

In [49]:
def four_fun(a,b):
    return a+b,a-b,a/b,a*b #use case of tuple
#we also do list but most of timein tuple format
#return (a+b,a-b,a/b,a*b) is same as above

In [51]:
four_fun(5,3)

(8, 2, 1.6666666666666667, 15)

In [ ]:
#tuple has only two more func so
t=[1,2,3]
#t.count(),t.index()

# Set
- unordered
- unique
- mutable

In [71]:
s={5,6,11,1,10,1,1,11}

In [72]:
s

{1, 5, 6, 10, 11}

In [73]:
for e in s:
    print(e) #so we can iterate over it

1
5
6
10
11

In [74]:
s.add(100)

In [75]:
s.add(100)
s

{1, 5, 6, 10, 11, 100}

In [76]:
hash("Aryan")

141938393

In [77]:
hash("Aryan")

141938393

In [78]:
hash("aryan") # value stored

350574217

In [79]:
s1={1,4,6,2,4,3}
s2={1,5,8,3,4,9}

In [80]:
s1.union(s2) #s1 |s2

{1, 2, 3, 4, 5, 6, 8, 9}

In [81]:
s1.intersection(s2) #s1&s2

{1, 3, 4}

In [82]:
s1.difference(s2)

{2, 6}

In [83]:
(s1-s2) | (s2-s1) #just for fun we can see using venn diagram

{2, 5, 6, 8, 9}

In [ ]:
s={1,2,2,3,4,5,6,7,7,1,3,3,4,(1,4,5),"wtwt",[1,2,3]} 
#so list is mutable so we can only store immutable elements in set
#error: unhashable type: 'list' 
#whereas we can store tuple and string

In [84]:
l=[1,2,3,4,5,6,7,1,2,3,4,5,6,7,8,9,6,7,8,9]

In [87]:
ab=list(set(l))
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [128]:
#store data in key:val format
canteen_menu={
    "samosa":10,
    "pizza":100,
    "burger":50
}

In [129]:
type(canteen_menu)

dict

In [130]:
type(canteen_menu.keys())

dict_keys

In [131]:
k=canteen_menu.keys()

In [132]:
list(k)

['samosa', 'pizza', 'burger']

In [133]:
v=canteen_menu.values()

In [134]:
type(canteen_menu.values())

dict_values

In [135]:
list(v)

[10, 100, 50]

In [136]:
canteen_menu.items() #it return us in form of tuple

dict_items([('samosa', 10), ('pizza', 100), ('burger', 50)])

In [137]:
#we can iteration too
for e in canteen_menu.items():
    print(e[0],e[1])

samosa 10
pizza 100
burger 50

In [138]:
#we can iteration too
for e in canteen_menu.items():
    print(e) #so here u can see all are tuple

('samosa', 10)
('pizza', 100)
('burger', 50)

In [139]:
for keys,values in  canteen_menu.items():
    print(keys,values)

samosa 10
pizza 100
burger 50

In [140]:
#if something is not present we get error to remove error we can use get it return none
key='juice'

if canteen_menu.get(key)==None:
    print(key,"is not present")
else:
    print(canteen_menu[key])

juice is not present

In [141]:
#get in Dictonary

print(canteen_menu.get("pizza"))
print(canteen_menu.get("juice")) #if not present
#it return an object type of none

100
None

In [142]:
canteen_menu["juice"]=30

In [143]:
canteen_menu["fruits"] = [10,20,30]

In [144]:
canteen_menu

{'samosa': 10, 'pizza': 100, 'burger': 50, 'juice': 30, 'fruits': [10, 20, 30]}

In [145]:
canteen_menu["fruits"][-1]

30

In [146]:
canteen_menu.update()

In [147]:
canteen_menu["fruits"]={
    'grapes':10,
    'orange':25,
    'mango':30
}

In [148]:
canteen_menu

{'samosa': 10,
 'pizza': 100,
 'burger': 50,
 'juice': 30,
 'fruits': {'grapes': 10, 'orange': 25, 'mango': 30}}

In [149]:
l=["a","b","c","d","e"]

In [150]:
#it will join string with "_"
"+".join(l)

'a+b+c+d+e'

In [151]:
list("hello") #similarly 
#constructor

['h', 'e', 'l', 'l', 'o']