In [10]:
i = 120
if (i > 15): 
    print ("i is greater than 15") 
if (i < 15):
    print ("i is less than 15")

i is greater than 15

In [14]:
i = 30
if (i == 10): 
    #  First if statement 
    if (i < 15): 
        print ("i is smaller than 15") 
    # Nested - if statement 
    # Will only be executed if statement above 
    # it is true 
    if (i < 12): 
        print ("i is smaller than 12 too") 
    else: 
        print ("i is greater than 15")

In [16]:
print('Palkita')
print('Palkita')
print('Palkita')
print('Palkita')
print('Palkita')
print('Palkita')

Palkita
Palkita
Palkita
Palkita
Palkita
Palkita

In [17]:
count = 0
while (count < 5):     
    count = count+1
    print("Palkita")

Palkita
Palkita
Palkita
Palkita
Palkita

In [18]:
print("Palkita") 
l = ["Pooja", "Milan", "Neelesh"] 
for i in l: 
    print(i)

Palkita
Pooja
Milan
Neelesh

In [19]:
for i in range(1, 5): 
    for j in range(i): 
         print(i , end=' ') 
    print()

1
2 2
3 3 3
4 4 4 4

In [22]:
for letter in 'this_ispalkitagautam':  
    if letter == 's' or letter == 'a': 
         continue
    print ('Current Letter :', letter)

Current Letter : t
Current Letter : h
Current Letter : i
Current Letter : _
Current Letter : i
Current Letter : p
Current Letter : l
Current Letter : k
Current Letter : i
Current Letter : t
Current Letter : g
Current Letter : u
Current Letter : t
Current Letter : m

In [26]:
for letter in 'thisispalkitagautam': 
    pass
    print ('Last Letter :', letter)

for letter in 'thisispalkitagautam':  
    # break the loop as soon it sees 'p'  or 'g' 
    if letter == 'p' or letter == 'g': 
         break
    print ('Current Letter :', letter)
for letter in 'thisispalkitagautam': 
    pass
    print ('Last Letter :', letter)

Last Letter : t
Last Letter : h
Last Letter : i
Last Letter : s
Last Letter : i
Last Letter : s
Last Letter : p
Last Letter : a
Last Letter : l
Last Letter : k
Last Letter : i
Last Letter : t
Last Letter : a
Last Letter : g
Last Letter : a
Last Letter : u
Last Letter : t
Last Letter : a
Last Letter : m
Current Letter : t
Current Letter : h
Current Letter : i
Current Letter : s
Current Letter : i
Current Letter : s
Last Letter : t
Last Letter : h
Last Letter : i
Last Letter : s
Last Letter : i
Last Letter : s
Last Letter : p
Last Letter : a
Last Letter : l
Last Letter : k
Last Letter : i
Last Letter : t
Last Letter : a
Last Letter : g
Last Letter : a
Last Letter : u
Last Letter : t
Last Letter : a
Last Letter : m

In [27]:
for letter in 'thisispalkitagautam': 
    pass
print ('Last Letter :', letter)

Last Letter : m

In [30]:
n= input('Enter your name: ')
a=int(input('Enter your age:'))
w=float(input('Enter your weight:'))

Enter your name: Palkita
Enter your age:18
Enter your weight:20

In [31]:
print(n)
print(a)
print(w)

Palkita
18
20.0

In [35]:
#getting data type
x = '120'
print(type(x))

<class 'str'>

In [ ]:
#setting data types
a = "Hello World"                    #str
b = 20                               #int
c = 20.5                             #float
d = 1j                               #complex
e = ["apple", "banana", "cherry"]    #list
f = ("apple", "banana", "cherry")    #tuple
g = range(6)                         #range
h = {"name" : "John", "age" : 36}    #dict
i = {"apple", "banana", "cherry"}    #set

In [36]:
x = 10    # int
y = 3.2  # float
z = 5j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

10.0
3
(10+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
palkita

In [37]:
#string slicing
b = "Palkita_Gautam"
print(b[2:10:2])

liaG

In [38]:
#accessing list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:8:2])

['cherry', 'kiwi', 'mango']

In [39]:
#tuples
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [40]:
#deleting a tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [51]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [47]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "year" in thisdict:
    print("Yes, 'year' is one of the keys in the thisdict dictionary")

Yes, 'year' is one of the keys in the thisdict dictionary

In [48]:
#clearing a dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [50]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Gautam","Palkita")

Gautam Palkita